# Ultra pedantic checks

---
Checks: >
  linuxkernel-*,
  portability-*,
  readability-*,
  performance-*,
  concurrency-*,
  misc-*,
  clang-analyzer-*,
  modernize-*,
  bugprone-*,
  -bugprone-reserved-identifier,
  -readability-avoid-const-params-in-decls

# Treat all warnings as errors in CI
WarningsAsErrors: '*'

ExtraArgs:
  - '-Wcomment'
